.container {
    display: flex;
    flex-direction: column;
    margin: 50px 0 0 0;
    padding: 0;
}
.control_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
.button_control_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 30px;
    margin-right: 50px;
}
input[type=text], select {
    width: 100%;
    padding: 12px 45px;
    font-size: 17px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: montserrat;
}
.button_control_container a {
    pointer-events: all;
    cursor: pointer;
    background-color:  #B73225;
    color: white;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    transition: 0.2s;
    padding: 10px 30px;
    border-style: solid;
    border-width: thin;
    border-radius: 5px;
    border-color: #B73225;
    font-family: montserrat-medium;
    transition: all 0.2s;
}
.button_control_container a:hover {
    background-color: #B73225 !important;
    color: white !important;
}
.input_container { 
    position: relative;
    flex: 1;
}
.input_image{ 
    position: absolute; 
    left: 15px; 
    top: 23px; 
    color: #004e7c;
    opacity: 0.7;
    font-size: 18px;
}
.blogs_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    margin: 50px 0 0 0;
}
/* .blogs_container > *:first-child {
    grid-column: span 2;

} */
.noresultText {
    text-align: center;
    font-size: 20px;
    grid-column: span 4;
    margin-top: 50px;
}
.combobox {
    position: relative;
    cursor: pointer;
    text-align: center;
    height: 36px;
    width: 115px;
    border-style: solid;
    border-width: thin;
    border-radius: 5px;
    font-size: 12px;
    line-height: 36px;
    text-transform: uppercase;
    display: none;
  }
  
  .combobox ul {
    list-style: none;
    display: flex;
    flex-flow: column;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 38px;
    background-color: #eee;
    z-index: 10;
  }
@media only screen and (max-width: 1685px) {
    .blogs_container {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media only screen and (max-width: 1230px) {
    .blogs_container {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (max-width: 1024px) {
    .blogs_container {
        grid-template-columns: repeat(1, 1fr);
    }
    .button_control_container {
        display: none;
    }
    .combobox {
        display: block;
    }
    .control_container {
        gap: 50px;
    }
}