.card{
    display: flex;
    flex-direction: column;
    background: var(--color-tabs);
}
.image{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.columndesc{
    display: flex;
    flex-direction: column;
    margin: 0px;
    width: 0;
    min-width: 100%;
    justify-content: center;
}