.page{
    display: flex;
    flex-direction: column;
    margin-bottom: 2vh;
    padding: 0 6vw;
    
}

.deck {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: stretch;
    padding-top: 3vh;
}

.formdesc{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0 5vw;
    font-size: 2.5vh;
    justify-content: space-between;
}

.bottomform{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5vh;
}

.bottomform p{
    margin: 0;
    padding: 0;
}
