.page{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 10vw;
    padding-top: 4vh;
}

.page > h2{
    margin-left: -4vw;
}

.mapheader{
    display: flex;
    flex-direction: row;
    margin-bottom: 5vh;
}

hr{
    width: 100%;
    background-color: var(--highlight-background);
}

@media screen and (max-width: 1024px){
    .mapheader{
        flex-direction: column;
    }
}