.selection{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    width: 100%;
    gap: 50px;
}

.element{
    display: flex;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box;      
    overflow: hidden;
    border-color: #bb6058;
    border-width: thin;
    border-radius: 5px;
    border-style: solid;
    background-color: white;
    height: 300px;
    width: 300px;
}
.element:active{
    animation: addtocart 0.35s ease-in-out;
}
@keyframes addtocart {
    40%{transform: scaleY(0.98) scaleX(0.98);}
    75%{transform: scaleY(1.01) scaleX(1.01);}
    100%{transform: scaleY(1) scaleX(1);}
}

.pricetag{
    display: flex;
    flex-direction: column;
    min-width: 100%;
}
.pricetag h4{
    display: flex;
    align-self: center;
    margin: 6px 0;
}
.pricetag p{
    display: flex;
    align-self: flex-end;
    margin: 4px 6px;
}