.selection{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.element{
    display: flex;
    margin: 0px 50px 50px 0;
}

@media only screen and (max-width: 1024px) {
    .selection{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 40px;
    }
}