html {
    font-family: montserrat;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height: 100%;
    width: 100%;
}
body {
    margin: 0;
    background-color: #f6f7f9;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    width: 100%;
}
@font-face {
    font-family: montserrat;
    src: local('Montserrat'), url(../fonts/Montserrat-Regular.ttf) format('truetype');
  }

:root {
    --highlight-background: #591C0B;
    --highlight-foreground: white;
    --color-disabled: #C2C2C2;
}