.top{
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 1rem 2.5rem;
}

.bottom{
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 1.5rem 5rem;
}