.header{
    display: flex;
    flex-direction: row;
    background-color: var(--color-tabs);
    justify-content: space-evenly;
    width: 100%;
}

.header li{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    list-style: none;
    align-items: center;
}

.active{

    font-weight: bold;
}
.header li:not(.active){
    cursor: pointer;
}
.header p{
    margin: 0;
    font-size: 22px;
}    