.brief{
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
    padding-left: 2vw;
}
.selector{
    display: flex;
    flex-direction: column;
    padding-bottom: 3vh;
}
.selector > div{
    margin: 10px 0;
}
.selector label{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0 1vw;
    margin-right: 10px;
}
.selector > li > input{
    background-color: #eee;
}
.description{
    display: flex;
    width: 0;
    min-width: 100%;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    align-content: center;
  }
  
  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
    border: solid 1px;
    border-color: var(--highlight-background);
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
    
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
    top: 3px;
    left: 3.5px;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    background: var(--highlight-background);
  }