.page{
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

.deck {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}

@media screen and (max-width: 1700px){
    .page{
        flex-direction: row;
    }
    .deck{
        margin: 0 1vw;
    }
}
