.imageDescription{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.description{
    width: 100%;
    color: var(--highlight-background);
    display: flex;
    padding: 0px 20px;
    flex-direction: column;    
    justify-content: space-between;
    background-color: #e3e3e3;
}

.text{
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
}

.button {
    padding: 10px 30px;
    background-color: #bb6058;
    border-color: #bb6058;
    color: #f6f7f9;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    transition: 0.2s;
    max-width: 100px;
}
.button:hover{
    color: #f6f7f9;
    background-color: #c0564c;
    border-color: #c0564c;
}
.button:active, .login_button:focus {
    color: #f6f7f9;
    background-color: #bb6058;
    border-color: #bb6058;
    box-shadow: none;
}

@media screen and (max-width: 800px){}