
.imageDescription{
    display: flex;
    justify-content: flex-end;
}

.description{
    color: var(--highlight-background);
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    margin-left: 55%;
    justify-content: space-between;
    min-height: 28vh;
}

.text{
    display: inline;
    font-size: 1.2em;
    flex-direction: column;
    max-height: 14.45em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text p{
    margin: 1.2em 0;
}

.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1vw;
    padding-top: 1rem;
}
.bottom p{
    font-size: 1.4rem;
    margin: 0;
    text-decoration: underline;
    cursor: pointer;
}

@media screen and (max-width: 1024px){
    .description{
        display: flex;
        z-index: 0;
        position:unset;
        margin: 0;
        background-color: var(--color-tabs);
        padding: 20px;
        width: 100%;
        min-height: 100%;
        margin: 0 15px;
        flex-shrink: 1;
    }
    .text{
        display: flex;
        max-height: 13.25em;
    }
}