:root{
    --button-color-idle: #a96e5a;
    --button-color-active: #9e583c;
    --button-color-text: #f6f7f9;
    --button-color-disabled: var(--color-disabled);
}
.formdesc{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0 1.5rem;
    font-size: 1rem;
    margin: 0;
    justify-content: space-between;
    max-height: 820px;

}

.formdesc > div > p {
    display:inline-block;
    max-height: 5.25rem;
    margin-bottom: 0;
    overflow:hidden;
    text-overflow: ellipsis;
}

.bottomform{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0;
}

.bottomform > p{
    margin: 0;
    padding: 0;
    color: var(--highlight-background);
}

.signup_button{
    padding: 10px 25px;
    background-color: var(--button-color-idle);
    border-color: var(--button-color-idle);
    color: var(--button-color-text);
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.3rem;
    transition: 0.2s;
    max-width: 180px;
    text-align: center;
    cursor: pointer;
}
.signup_button:hover{
  color: var(--button-color-text);
  background-color: var(--button-color-active);
  border-color: var(--button-color-active);
}
.signup_button:active, .signup_button:focus {
  color: var(--button-color-text);
  background-color: var(--button-color-active);
  border-color: var(--button-color-active);
  box-shadow: 0 0 0 0.2rem #b97f67;
}

@media screen and (max-width: 600px){

    .formdesc{
        font-size: 0.85rem;
        overflow-y: hidden;
        word-wrap:break-word;
        text-overflow: ellipsis;
    }
    .signup_button{
        display: "";
    }
}