.formdesc{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0 1.5rem;
    font-size: 1rem;
    margin: 0;
    justify-content: space-between;
    max-height: 820px;

}

.formdesc > div > p {
    display:inline-block;
    max-height: 5.25rem;
    margin-bottom: 0;
    overflow:hidden;
    text-overflow: ellipsis;
}

.bottomform{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0;
}

.bottomform > p{
    margin: 0;
    padding: 0;
    color: var(--highlight-background);
}

@media screen and (max-width: 500px){

    .formdesc{
        font-size: 0.85rem;
        overflow-y: hidden;
        word-wrap:break-word;
        text-overflow: ellipsis;
    }
}