.container {
    display: flex;
    flex-direction: column;
    margin: 50px 0 0 0;
    padding: 0;
}
.control_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
.hikings_container_month {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin: 30px 0 0 0;
}
.hikings_container_year {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-top: 30px;
    align-items: stretch;
}
.no_hikings_message {
    text-align: center;
    margin: 50px 0 0 0;
    font-family: montserrat-bold;
}
.inner_control_container {
    display: flex;
    flex-direction: row;
    width: 250px;
    font-size: 16px;
    justify-content: space-around;
    font-weight: bold;
}
.current_month_button_disable {
    opacity: .3;
    pointer-events: none;
    overflow: hidden;
    position: relative;
    padding: 10px 30px;
    background-color: #B73225;
    border-color: #B73225;
    color: #f6f7f9;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    transition: opacity 0.1s;
    max-width: 150px;
    text-align: center;
}
.current_month_button_enable {
    opacity: 1;
    pointer-events: all;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    padding: 10px 30px;
    background-color: #B73225;
    border-color: #B73225;
    color: #f6f7f9;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    transition: opacity 0.1s;
    max-width: 150px;
    text-align: center;
}
.current_month_button_enable:hover{
  color: #f6f7f9;
  background-color: #cc463a;
  border-color: #cc463a;
}
.arrow_disable {
    font-size: 18px;
    opacity: .3;
    pointer-events: none;
}
.arrow_enable {
    font-size: 18px;
    opacity: 1;
    cursor: pointer;
}
.month_title {
    font-size: 18px;
    margin:0 auto;
    text-align: center;
}
.button_group_active {
    cursor: pointer;
    overflow: hidden;
    background-color: #B73225;
    border: 1px #B73225 solid;
    color: white;
}
.button_group_unactive {
    cursor: pointer;
    overflow: hidden;
    background-color: white;
    border: 1px #B73225 solid;
    color: #B73225;
}
.noresultText {
    text-align: center;
    font-size: 20px;
    grid-column: span 4;
    margin-top: 50px;
}
@media only screen and (max-width: 1685px) {
    .hikings_container_month {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media only screen and (max-width: 1230px) {
    .hikings_container_month {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (max-width: 1024px) {
    .hikings_container_month {
        grid-template-columns: repeat(1, 1fr);
    }
    .current_month_button_disable {
        font-size: 12px;
        width: 70px;
    }
    .current_month_button_enable {
        font-size: 12px;
        width: 70px;
    }
    .arrow_disable {
        font-size: 14px;
    }
    .arrow_enable {
        font-size: 14px;
    }
    .month_title {
        font-size: 14px;
    }
    .control_container {
        gap: 20px;
    }
}