.card{
    display: flex;
    flex-direction: row;
    background: #E3E3E3;
    border: solid 2px #591C0B;
}

.image{
    display: flex;
}

.desc{
    display: flex;
    flex-grow: 2;
    margin: 0px;
    padding: 15px 135px;
    justify-content: center;
    align-items: center;
    text-align: center;

}