.card{
    display: flex;
    flex-direction: row;
    background: #E3E3E3;
    border: solid 0.3vh #591C0B;
    cursor: pointer;
}

.image{
    display: flex;
}

.desc{
    font-size: 2vh;
    display: flex;
    flex-grow: 2;
    margin: 0px;
    padding: 4vh 7vw;
    justify-content: center;
    align-items: center;
    text-align: center;

}