.footer {
    background-color: #333333;
    color: #ccc;
<<<<<<< HEAD

=======
    margin: 100px 0 0 0;
>>>>>>> development
    display: flex;
    flex-direction: column;

    align-items: center;
}
.break {
    align-items: center;
}
.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
    padding: 30px 0px;
}