.container {
    display: flex;
    flex-direction: column;
    width: 35%;
    position: absolute;
    color: #f6f7f9;
    padding: 0px 100px;
    bottom: 110px;
    background-color: none;
    line-height: 1.6;
}
.information_block_button {
    padding: 10px 30px;
    background-color: #a96e5a;
    border-color: #a96e5a;
    color: #f6f7f9;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    transition: 0.2s;
    max-width: 150px;
    text-align: center;
    cursor: pointer;
}
.information_block_button:hover{
  color: #f6f7f9;
  background-color: #9e583c;
  border-color: #9e583c;
}
.information_block_button:active, .information_block_button:focus {
  color: #f6f7f9;
  background-color: #9e583c;
  border-color: #9e583c;
  box-shadow: 0 0 0 0.2rem #b97f67;
}

