.navigationMenu {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row;
  width: fit-content;
  margin-left: 30px;
}
.active{
  cursor: pointer;
  color: #004e7c !important;
  border-color:#004e7c !important;
}
.navigationMenu li {
  display: flex;
  align-items: flex-start;
  margin: 0 20px;
  list-style: none;
  font-size: 17px;
  color: #004e7c;
  font-weight: bold;
  border-bottom: 2px solid #f6f7f9;
  padding-bottom: 3px;
  text-decoration: none;
  cursor: pointer;
}
.navigationMenu > * {
  text-decoration: none;
}
.navigationMenu li:not(.active):hover{
  transition: all 0.3s;
  border-color:#004e7c;
}
@media only screen and (max-width: 1024px) {
  .navigationMenu {
    display: none;
  }
}