.navigationMenu {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row;
  width: fit-content;
  margin-left: 30px;
}

.navigationMenu ul{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.navigationMenu ul li {
  display: flex;
  align-items: flex-start;
  margin: 0 20px;
  list-style: none;
  font-size: 17px;
  color: #004e7c;
  font-weight: bold;
  padding-bottom: 3px;
}

.tablink{
  text-decoration: none;
}

.navigationMenu li:not(.active):hover{
  cursor: pointer;
  animation: anim 1s ease-out;
  border-bottom: 2px solid  #004e7c;
}

@keyframes anim{
  0% {border-bottom: 2px solid darkgray;}
  100% {border-bottom: 2px solid #004e7c;}
}

.navigationMenu .active, .active:hover{
  cursor: pointer;
  color: #004e7c;
  border-bottom: 2px solid  #004e7c;
}